"
" Javascript
"
snippet js
	<script type="text/javascript">
	$ (function () {
		${1:}
	});
	</script>
"
" CSS
"
snippet css
	<style type="text/css">
	${1:}
	</style>
"
" HTML
"
snippet html
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <title>${1:Conforming XHTML 1.0 Strict Template}</title>
	</head>
	<body>
	${2:}
	</body>
	</html>
